function RacingGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
call Scene.new 5
pop this 0
push constant 1000
pop this 1
label WHILE_EXP0
push this 1
push constant 0
gt
not
if-goto WHILE_END0
push this 1
push constant 1
sub
pop this 1
push this 0
call Scene.update 1
pop temp 0
push this 0
call Scene.draw 1
pop temp 0
push constant 150
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
